
// $메인컬러 : #ff0000;

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: all 500ms;
}

@mixin 함수() {
    background: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

// .red {
//     color: $메인컬러;
// }

.my-alert {
    @include 함수()
}

.my-alert2 {
    @extend .my-alert;
    background: #ffe591;
}



.my-alert p {
    margin-bottom: 0;
}

// div.container {
//     h4 {
//         color: blue;
//     }
//     p {
//         color: green;
//     }
// }

.SideTab {
    background-color: white;
    border: 1px solid #eeeeee;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    width: 15%;
    font-size: 18px;
}

.shoesimg {
    width: 80%;
}

